/* Стиль для обычного состояния кнопки */
.button {
    -fx-background-image: url("button.png"); /* Путь к обычному изображению */
    -fx-background-size: cover; /* Устанавливает размер изображения на всю кнопку */
    -fx-background-radius: 8;
    -fx-border-color: #5F5A5F;
    -fx-border-radius: 8;
    -fx-border-width: 2;
}

/* Стиль для кнопки при наведении */
.button:hover {
    -fx-background-image: url("button_hover.png"); /* Путь к изображению при наведении */
    -fx-background-size: cover;
    -fx-background-radius: 8;
    -fx-border-color: #5F5A5F;
    -fx-border-radius: 8;
    -fx-border-width: 2;
}

/* Стиль для кнопки при нажатии */
.button:pressed {
    -fx-background-image: url("button_pressed.png"); /* Путь к изображению при нажатии */
    -fx-background-size: cover;
    -fx-background-radius: 8;
    -fx-border-color: #5F5A5F;
    -fx-border-radius: 8;
    -fx-border-width: 2;
}
.button:focused {
    -fx-focus-color: transparent;  /* Убирает цвет обводки фокуса */
    -fx-focus-ring: transparent;   /* Убирает кольцо фокуса */
    -fx-faint-focus-color: transparent;
}
